/*
 * CSS for Accessible University Demo Site
 * http://uw.edu/accesscomputing/AU
 *
 * before-main.css = Styles for inaccessible version
 */


  /* overwrite some default bootstrap colors */
  .success {
    background-color: green;
  }
  .btn-success {
    background-color: green;
    border-color: lightgreen;
  }
  .btn-success:hover {
    background-color: darkgreen;
    border-color: lightgreen;
  }

/*
 * Overall structure
 * (HTML does NOT use semantic elements)
 *
 */

 #logo {
   width:100%;
   max-width:400px;
   margin: 0 auto;
 }
.heading {
  font-size: 2rem;
  font-weight: normal;
  margin: 0.5rem 0;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: -0.05em;
  border-bottom: 1px solid #808080;
}
.box {
  padding: 0 1rem 1rem 1rem;
  border:1px solid #f1f1f1;
  border-top: 5px solid green;
  margin-bottom: 1rem;
  background: #f9f9f9;
}
.main-footer {
  background: #333;
  color: green
}
hr {
  border-bottom: 1px solid #999;
}
.social li {
  display: inline-block;
}

/*
 * Uses color alone to communicate "link"
 *
 */
a {
  color: #777777;
	text-decoration: none;
}
/*
 * Provide additional visual cues to mouse users only
 *
 */
a:hover {
  color:#000;
  text-decoration: none;
}

/*
 * Overrides browsers' visible focus indicator
 *
 */
a:hover, a:focus, input:focus {
  outline: none;
  border-color: transparent;
}
